* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shantell Sans", cursive;
}
* * ::-webkit-scrollbar {
  display: none;
}

body {
  background: url("../icons/c1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}
main header {
  background-color: #07689F;
  opacity: 0.9;
  color: white;
  cursor: pointer;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main header div.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main header div.title h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  margin-left: 10px;
  color: white;
}
main header div.title img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
}
main header button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
main header button img {
  border-radius: 50%;
}
main div.container {
  background: transparent;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
main div.container div.users-window {
  width: 350px;
  color: white;
  background-color: #A2D5F2;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
  opacity: 0.5;
}
main div.container div.users-window div.users-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: centre;
  margin-bottom: 15px;
}
main div.container div.users-window div.users-head h4 {
  background-color: #07689F;
  padding: 0px 8px;
  border-radius: 10px;
  cursor: pointer;
}
main div.container div.users-window div.users-head h3 {
  color: black;
}
main div.container div.users-window div.users-list p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  color: black;
}
main div.container div.users-window div.users-list p:hover {
  color: #07689F;
  cursor: pointer;
}
main div.container div.chat-window {
  width: 100%;
  border-radius: 10px;
  background-color: #A2D5F2;
  opacity: 0.9;
}
main div.container div.chat-window div.chats {
  height: 65vh;
  padding: 20px;
  overflow-y: auto;
}
main div.container div.chat-window div.chats div.user-join {
  font-size: 0.9rem;
  color: white;
  background-color: #07689F;
  border-radius: 50px;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 7px 20px;
  margin-bottom: 15px;
}
main div.container div.chat-window div.chats div.message {
  color: #07689F;
  background-color: white;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
}
main div.container div.chat-window div.chats div.message p {
  font-size: 16px;
}
main div.container div.chat-window div.chats div.outgoing {
  margin-left: auto;
  color: white;
  background-color: #07689F;
  border-radius: 50px 10px 10px 50px;
  text-align: right;
}
main div.container div.chat-window div.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
main div.container div.chat-window div.user-input input {
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 50px 0px 0px 50px;
  width: 100%;
}
main div.container div.chat-window div.user-input button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: white;
  background-color: #07689F;
  border-radius: 0 50px 50px 0px;
  cursor: pointer;
}

.header_button:hover {
  transform: scale(0.8);
}

.user-input #user-msg {
  opacity: 0.9;
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  main header button {
    display: block;
  }
  main div.container {
    position: relative;
  }
  main div.container div.users-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: -moz-max-content;
    height: max-content;
    z-index: 11;
    box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
  main div.container div.chat-window div.chats div.message {
    min-width: 300px;
  }
}/*# sourceMappingURL=index.css.map */